* {
    box-sizing : border-box;
}
html {
    margin: 0 auto;
    font-family: Arial;
}
.container {
    width: 1000px;
   margin: 0 auto;
   background: #FFFFFF;
}
.nav-wrapper {
    width: 900px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#logo{
    margin-left: 30px;
}
.navButton{
    background:  #ECECED;
    font-weight: 900px;
    margin:5px;
    margin-top: 80px;
    padding: 10px;
    border-radius: 5px;
    height: 50px;
    border: 2px solid rgb(212, 211, 211);
    color: rgb(40, 64, 71);;
}
a {
    color: inherit;
}
.navButton:hover {
    background: #3A5E69;
    color: white;
}
.nav-content{
    background: #DAE4E6;
    text-align: left;
    margin: 0px;
    margin-top: 30px;
    padding: 20px;
    width: 1000px;
    height: 400px;
    
}
.nav-content p {
    margin-top: 20px;
    padding: 10px;
    color: rgb(46, 76, 85);
}

.navCircles{
    border-radius: 50%;
    border:3px solid gray;
    height: 150px;
    padding:3px;
    width:150px;
    margin: 0 5px; 
}
#text {
    margin: 1px;
}
 #smiling-man{
    float: right;
    height: 400px;
    width: 400px;
    margin: -50px -30px 1px 2px;
} 
.row {
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 1000px;
    font-weight: 500px;
    margin-top:5px;
}
 .row h5{
    color: rgb(40, 64, 71);
}

.column {
    float: left;
    padding: 10px;
    margin: 10px;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 23px;
}
.left  {
    width: 25%;
    padding: 10px;
    order : 1;
    margin: 3px;
}
.right {
    width: 25%;
    padding: 10px;
    order: 3;
    margin: 20px;
}
.middle {
    width: 50%;
    padding: 10px;
    order: 2;
    margin: 3px;
}
#small-image {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 13px;
}

.footer {
    color:#3A5E69;
    height: 8%;
    background:#F5F5F5; 
    display: flex;
}
.footer > section {
    flex-direction: row;
    background:#F5F5F5;
    color: #A0A0A0;
    padding: 20px;
    margin: 14px;
}
.footer-header {
    margin: 3px;
}
.footer-data {
    padding: 4px;
    font-size: 13px;
    margin: 0px;
}
.footer-icon {
    padding: 8px;
   
}
#copyright {
    text-align: center;
    position: absolute;
    left: 0px;
    right: 0px;
    color: rgb(219, 218, 218);
    font-size: 15px;
    margin: 8px;
    
}

/* font text color: #3A5E69
Hover button color: #3A5E69
nav content blue color: #BFD2D9
button background color: #ECECED

footer etxt: #BDBDBD #A5A5A5
 */